.pwe-news-upcoming__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 36px 0;
}
#PWENewsUpcoming .pwe-news-upcoming__header-title {
    font-size: 28px;
    margin: 0;
}
.pwe-news-upcoming__header-date {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.pwe-news-upcoming__header-desc p {
    margin: 0;
}
.pwe-news-upcoming__header-hr {
    margin: 0;
    border: 0;
    width: 100%;
    border-top-width: 2px;
    border-style: solid;
}



.pwe-news-upcoming__fairs {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.pwe-news-upcoming__single-fair {
    display: flex;
    gap: 36px;
}
.pwe-news-upcoming__single-fair-logo-container {
    flex: 1 1 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border-radius: 18px;
    box-shadow: 0 0 16px -8px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
    transition: 0.3s ease !important;
}
.pwe-news-upcoming__single-fair-logo-container:hover {
    transform: scale(1.02);
}
.pwe-news-upcoming__single-fair-logo-container img {
    max-width: 340px;
    width: 100%;
    aspect-ratio: 7/4;
    object-fit: contain;
}
.pwe-news-upcoming__single-fair-text-title {
    font-size: 22px !important;
}
.pwe-news-upcoming__single-fair-text-container {
    flex: 1 1 76%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.pwe-news-upcoming__single-fair-text-desc p:first-of-type {
    margin: 0;
}
.pwe-news-upcoming__single-fair-text-btn-container {
    display: flex;
    gap: 36px;
    justify-content: center;
}
.pwe-news-upcoming__single-fair-hr {
    margin: 0;
    border: 0;
    width: 100%;
    border-top-width: 2px;
    border-style: solid;
}
.pwe-news-upcoming__single-fair-text-btn {
    flex: 1 1 50%;
    text-align: center;
    padding: 16px 32px;
    background: var(--fair-accent-color);
    color: white !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    border-radius: 12px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pwe-news-upcoming__single-fair-text-btn:hover {
    background: transparent;
    color: var(--fair-accent-color) !important;
    border-color: var(--fair-accent-color);
}



.pwe-news-upcoming__worth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin: 72px 0;
}
.pwe-news-upcoming__worth-heading {
    margin: 0;
}
.pwe-news-upcoming__worth-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}
.pwe-news-upcoming__worth-card {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    min-width: 260px;
}
.pwe-news-upcoming__worth-title {
    margin: 0;
    text-align: center;
}
.pwe-news-upcoming__worth-desc p {
    margin: 0;
    text-align: center;
}



.pwe-news-upcoming__map {
    margin: 36px 0;
    display: flex;
    align-items: center;
    gap: 36px;
}
.pwe-news-upcoming__map-content {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.pwe-news-upcoming__map-img-container {
    flex: 1 1 45%;
}
.pwe-news-upcoming__map-heading {
    margin: 0;
}
.pwe-news-upcoming__map-desc {
    margin: 0;
    font-size: 18px;
}



.pwe-news-upcoming__linkedin {
    margin: 36px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.pwe-news-upcoming__linkedin-content {
    display: flex;
    align-items: center;
    gap: 24px;
}
.pwe-news-upcoming__linkedin-content img {
    max-width: 260px;
}
.pwe-news-upcoming__linkedin-content-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.pwe-news-upcoming__linkedin-title {
    margin: 0;
}
.pwe-news-upcoming__linkedin-subtitle {
    margin: 0;
    font-size: 18px !important;
}
.pwe-news-upcoming__linkedin-footer {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}



.pwe-news-upcoming__btn--black {
    padding: 13px 31px;
    font-size: 14px;
    min-width: 168px;
    text-align: center;
    font-weight: 600;
    color: #ffffff !important;
    background-color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 8px;
}
.pwe-news-upcoming__btn--black:hover {
    color: black !important;
    background-color: transparent;
}

/* Style dla opisów fair tych "na twardo" */
.pwe-news-upcoming__desc-teaser {
  margin: 8px 0 14px;
  line-height: 1.55;
}

.pwe-news-upcoming__desc-block {
  margin: 8px 0;
  line-height: 1.5;
  font-size: 1.06em;   
}

.pwe-news-upcoming__desc-label {
  font-weight: 700;            
  color: var(--pwe-accent);    
  white-space: nowrap;
}
.pwe-news-upcoming__desc-value p {
  display: inline;
  margin: 0;
}


@media(max-width: 960px) {
    .pwe-news-upcoming__single-fair {
        flex-direction: column;
    }
    .pwe-news-upcoming__single-fair-text-title {
        margin: 0;
    }
}
@media(max-width: 760px) {
    .pwe-news-upcoming__single-fair {
        flex-direction: column;
    }
    .pwe-news-upcoming__single-fair-text-title {
        margin: 0;
    }
    .pwe-news-upcoming__map {
        flex-direction: column;
    }
    .pwe-news-upcoming__linkedin-content {
        flex-direction: column;
    }
    .pwe-news-upcoming__linkedin-footer {
        flex-direction: column;
    }
}
@media(max-width: 570px) {
    #PWENewsUpcoming .pwe-news-upcoming__header-title {
        font-size: 22px;
    }
    .pwe-news-upcoming__single-fair-text-btn-container {
        gap: 12px;
        flex-direction: column;
    }
    .pwe-news-upcoming__map-desc {
        font-size: 16px;
    }
}
