.pwe-loader {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-top: 36px;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}


/* CONTACT INFO */
#contact-info p {
    margin: 0 !important;
}

/* all */
.row-parent:has(#niePrzegap) {
    padding: 0 !important;
}

.gfield--type-consent:has(.show-consent) .gfield_description {
    display: none;
}

/* .wpb_column:has(.pwelement) {
    padding-top: 0 !important;
} */
.full-width:has(.pwelement) {
    padding: 0 !important;
}

.half-block-padding-top {
    padding-top: 18px !important;
}

.pwe-block-padding {
    padding: 36px;
}

.list-style-none {
    list-style: none !important;
}

.row-container:has(#zabudowa, #voucher) .pwe-strong {
    font-weight: 700;
}

.pwelement :is(h2, h3, h4, h5) {
    width: fit-content;
}

.pwelement img {
    vertical-align: bottom;
}

.pwe-min-media-wrapper {
    min-width: 240px;
}

.pwe-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 18px;
}

.pwe-btn-container a {
    transform-origin: center !important;
    min-width: 250px;
    margin: 3px;
}

.row-parent .pwelement .pwe-btn {
    border-radius: 10px !important;
    box-shadow: unset !important;
    transform: none !important;
}

.link-text-underline :is(a, a span) {
    text-decoration: underline;
}

/* .pl_PL,
.en_US, */
.pwe-display-none {
    display: none;
}

.text-centered {
    text-align: -webkit-center;
    text-align: -moz-center;
}

.pwe-line-height {
    line-height: 1.3;
}

.pwe-shadow-black {
    box-shadow: 9px 9px 0px -5px black;
}

.pwe-shadow-border-black {
    box-shadow: 9px 9px 0px -5px black;
    border: 2px solid black;
}

.pwe-color {
    color: white;
}

.pwe-box-top-left-white {
    margin-left: -18px;
    box-shadow: -3px -3px white;
    width: 170px !important;
    height: 40px;
}

.pwe-box-top-left-black {
    margin-left: -18px;
    box-shadow: -3px -3px black;
    width: 170px !important;
    height: 40px;
}

.pwe-box-bottom-right-white {
    box-shadow: inset -3px -3px white;
    width: 170px !important;
    height: 40px;
    float: right;
    margin-right: -18px;
}

.pwe-box-bottom-right-black {
    box-shadow: inset -3px -3px black;
    width: 170px !important;
    height: 40px;
    float: right;
    margin-right: -18px;
}

.pwe-full-width {
    width: 100%;
}

.pwe-half-width {
    width: 50%;
}

.pwe-align-left {
    text-align: left;
}

.pwe-align-center {
    text-align: center;
}

.pwe-uppercase {
    text-transform: uppercase;
}

.pwe-full-gap {
    display: flex;
    gap: 36px;
}

.pwe-flex {
    display: flex;
}

.pwe-column {
    display: flex;
    flex-direction: column;
}

strong {
    color: inherit !important;
}

.logo-invert-white img,
.pwe-logo-white {
    filter: brightness(0) invert(1);
}

.pwe-logo-original {
    filter: inherit !important;
}

.text-shadow-black {
    text-shadow: 0 0 5px black;
}

.shadow-black {
    box-shadow: 9px 9px 0px -5px black;
}

.shadow-white {
    box-shadow: 9px 9px 0px -5px white !important;
}

.btn-pwe-black {
    color: white !important;
    background-color: black;
    box-shadow: 9px 9px 0px -5px white !important;
    border: none !important;
}

.btn-pwe-white {
    color: black !important;
    background-color: white;
    box-shadow: 9px 9px 0px -5px black !important;
    border: none !important;
}

.no-touch .bigtext {
    opacity: 1 !important;
}

.pwe-width-limit {
    max-width: 1200px;
    margin: 0 auto;
}

.pwe-mobile-display-none {
    display: none;
}

::selection,
::-moz-selection {
    background-color: #9da2a5 !important;
    color: #ffffff !important;
}

.border-bottom-right-white {
    box-shadow: 3px 3px white;
    width: 170px !important;
    height: 40px;
    float: right;
    margin-right: -18px;
}

.border-top-left-white {
    margin-left: -18px;
    box-shadow: -3px -3px white;
    width: 170px !important;
    height: 40px;
}

.main-heading-text :is(h2, h3, h4),
.secondary-heading-text :is(h2, h3, h4) {
    font-size: 24px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    margin: 0 auto 18px !important;
    box-shadow: none !important;
    color: black;
    text-align: center;
}
@media(max-width: 768px) {
    .main-heading-text :is(h2, h3, h4),
    .secondary-heading-text :is(h2, h3, h4) {
        font-size: 20px !important;
    }
}

.btn {
    transition: .3s ease !important;
}

@media (max-width:960px) {

    .row-container:has(.gform_wrapper, .pwe-container-grupy) .wpb_column,
    .row-container:has(.pwe-route) .wpb_column {
        max-width: 555px;
        margin: 0 auto;
    }

    .row-container:has(.gform_wrapper, .pwe-container-grupy) .row-parent {
        padding: 36px 18px 36px 18px !important;
    }

    #masthead .navbar-extra-icons,
    #masthead .navbar-extra-icons ul,
    #masthead .navbar-extra-icons ul li {
        display: inline-block !important;
        padding: 0 !important;
    }
}

.mobile-menu-button .lines-button .lines {
    height: 3px !important;
    width: 25px !important;
}

.mobile-menu-button .lines-button .lines:before {
    top: 8px !important;
}

.mobile-menu-button .lines-button .lines:after {
    top: -8px !important;
}

@media (max-width:500px) {
    .mmb-container {
        width: 55%;
        justify-content: space-between;
    }
}

#mapa,
#wystawcy,
#konferencje,
#patroni-medialni,
#edycja-w-liczbach,
#profil-odwiedzajacego,
#profil-wystawcy,
#zakres-branzowy,
#faq,
#stand,
#voucher,
#organizator,
#download,
#dojazd,
#visitorsBenefits,
#exhibitorsBenefits {
    scroll-margin-top: 200px;
}

.participate-button {
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 700;
}

.gform_legacy_markup_wrapper .gf_invisible,
.gform_legacy_markup_wrapper .gfield_visibility_hidden,
.gfield--type-captcha {
    visibility: hidden !important;
    height: 0 !important;
}



#masthead .mobile-menu-button {
    padding: 0 18px !important;
}


/*ROZWIJANE ZGODY*/
.gfield_consent_description {
    overflow: auto !important;
    max-height: auto !important;
    border: none !important;
    display: none;
}


.site-footer .social-icon {
    display: none !important;
}