.conference_cap__main-container {
  overflow: hidden;
}

.conference_patroni_logo {
  object-fit: contain;
  aspect-ratio: 3 / 2;
  padding: 5px;
  margin: 5px;
}

.row-parent:has(#conference-cap) {
  padding: 0 !important;
  max-width: 100% !important;
}

.conference_cap__conf-slugs-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.conference_cap__info-text {
  text-align: center;
}

.conference_cap__conf-logotypes-title {
  text-align: center;
  margin: 36px auto;
  font-size: 22px !important;
}

.conference_cap__conf-slug-location {
  text-align: center;
  margin: 36px auto;
  font-size: 24px !important;
}

.conference_cap__conf-slug-title {
  text-align: center;
  margin: 36px auto;
}

.conference_cap__conf-slugs-container .active-slug {
  padding: 36px;
}

.conference_cap__conf-slug-image {
  width: 100%;
  height: auto;
}

.conference_cap__more-coming-soon {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 36px;
    color: #333;
}

.conference_cap__patrons-container-logo {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.conference_cap__patrons-container-logo-title {
    font-size: 14px;
    font-weight: 500;
}

.conference_cap__conf-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px;
}

.conference_cap__conf-button a {
    background: var(--accent-color);
    color: white !important;
    padding: 13px 31px;
    border-radius: 12px;
    transition: .3s ease;
}
.conference_cap__conf-button a:hover {
    background: var(--accent_darker_color);
}

/* ------------------ Org Logo ------------------ */

.conference_cap__conf-organizer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.conference_cap__conf-organizer-wrapper .conference_cap__conf-organizer-title {
    font-size: 26px;
    text-align: center;
}

.conference_cap__conf-organizer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conference_cap__conf-organizer-wrapper .conference_cap__conf-org-logo {
    max-width: 260px;
    margin: 0 auto;
}

.conference_cap__conf-organizer-wrapper .conference_cap__conf-organizer-logo-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/* ------------------ Default Header ------------------ */

.conference_cap__conf-slug-default-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  min-height: 150px;
}
.conference_cap__conf-slug-default-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 0;
}

.conference_cap__conf-slug-default-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px;
  z-index: 1;
}

.conference_cap__conf-slug-default-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: white !important;
  font-size: 24px !important;
  text-shadow: 2px 2px black !important;
}

/* ------------------ Tabs Slugs ------------------ */

.conference_cap__conf-slug-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 28px 18px;
}

.conference_cap__conf-slug-img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  max-width: 220px !important;
  transition: 0.3s ease;
  transform: scale(1);
}

.conference_cap__conf-slug-img:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.conference_cap__conf-slug-img.active-slug {
  transform: scale(1.08);
}

.conference_cap__conf-slug {
  display: none;
}


/* ------------------ Tabs Days ------------------ */

.conference_cap__conf-slug-navigation-days {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
  gap: 4px;
  padding: 8px;
}

.conference_cap__conf-slug-navigation-day {
  padding: 10px 20px;
  line-height: 1.5;
  background: #eee;
  cursor: pointer;
  min-width: 15%;;
  font-weight: 500;
  flex: 1 1 24%;
  max-width: 30%;
}

.conference_cap__conf-slug-navigation-day.active-day {
  background-color: var(--accent-color) !important;
  color: white !important;
}

.conference_cap__conf-slug-navigation-day:hover {
  background-color: lightgray;
}

.conference_cap__conf-slug-content {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  z-index: -1;
}

.conference_cap__conf-slug-content.active-content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
  z-index: 10;
  position: relative;
}

/* ------------------ Modal ------------------ */

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.custom-modal {
  background: #fefefe;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 800px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #888;
  transition: transform 0.3s;
  transform: scale(0);
}
.custom-modal-close {
  position: absolute;
  right: 18px;
  top: -6px;
  color: #000;
  background: transparent;
  float: right;
  font-size: 50px;
  font-weight: bold;
  transition: transform 0.3s;
  font-family: monospace;
}
.custom-modal-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.custom-modal-content img {
  max-width: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.custom-modal-content h2 {
  margin: 10px 0 10px;
  font-size: 1.4em !important;
}
.custom-modal-content p {
  margin: 0;
}
.custom-modal.visible {
  transform: scale(1);
}


@media (max-width: 600px) {

  .row-parent:has(.conference_cap__conf-slug-navigation) {
      padding: 18px !important;
  }

  .conference_cap__conf-slug-img {
      max-width: 140px  !important;
  }

  .conference_cap__conf-slug-navigation-days {
    flex-direction: column;
    text-align: center;
  }

  .custom-modal {
    max-height: 80%;
  }

    .conference_cap__conf-organizer-wrapper .conference_cap__conf-organizer-title {
        font-size: 22px;
    }

    .conference_cap__conf-logotypes-title {
        font-size: 20px !important;
    }

    #conference-cap .slick-dots {
        bottom: -8px;
    }

}