@media (min-width: 961px) {
    body.home .pwe-header-wrapper {
        padding-top: 60px !important;
    }
}

.pwe-menu {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    z-index: 99;
    display: flex;
    transition: 0.3s ease;
    background-color: var(--accent-color);
}
body.home .pwe-menu {
    background-color: transparent;
}
.pwe-menu__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 18px;
    gap: 18px;
}
/* Mobile button take part */
.pwe-menu .pwe-menu__register-btn {
    display: flex;
    align-self: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}
.pwe-menu .pwe-menu__register-btn.visible {
    opacity: 1;
    visibility: visible;
}
.pwe-menu .pwe-menu__register-btn a {
    background-color:var(--main2-color);
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}
.pwe-menu__main-logo {
    display: flex;
    padding: 5px 0;
}
.pwe-menu__main-logo a {
    max-height: 60px;
    height: 100%;
}
.pwe-menu__main-logo img {
    height: 100%;
    width: auto;
    object-fit: contain;
}
.pwe-menu__main-logo-ptak {
    margin-right: 8px;
}
.pwe-menu__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: auto;
}
.pwe-menu__container-mobile {
    width: 0;
    display: flex;
    gap: 18px;
}
.pwe-menu__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pwe-menu__item {
    position: relative;
}
.pwe-menu__item > a {
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    transition: 0.3s ease;
    padding: 4px 8px;
    font-size: 12px;
    text-transform: uppercase;
}
.pwe-menu__item.button > a {
    border: 1px solid white;
    border-radius: 10px;
}
.pwe-menu__item > a:hover {
    color: #bababa;
    border-color: #bababa;
}
.pwe-menu__item:has(.wpml-ls-flag) > a {
    padding: 0;
    margin-left: 18px;
    min-width: 18px;

}
.pwe-menu__item .pwe-menu__submenu {
    margin: 0;
    padding: 18px 0;
    gap: 5px;
}
/* First level submenu */
.pwe-menu__item > .pwe-menu__submenu {
    width: max-content;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    background-color: var(--accent-color);
    z-index: 10;
    transition: .3s ease;
}
/* Submenu of next levels */
.pwe-menu__submenu .pwe-menu__submenu {
    width: max-content;
    position: absolute;
    top: 0;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--accent-color);
    z-index: 10;
    transition: .3s ease;
}
.pwe-menu__item:hover > .pwe-menu__submenu,
.pwe-menu__submenu-item:hover > .pwe-menu__submenu {
    visibility: visible;
    opacity: 1;
}
.pwe-menu__submenu:hover,
.pwe-menu__submenu-item:hover > .pwe-menu__submenu {
    visibility: visible;
    opacity: 1;
}
.pwe-menu__item.has-children:hover > .pwe-menu__submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.pwe-menu__submenu-item {
    position: relative;
}
.pwe-menu__item.has-children .pwe-menu__arrow,
.pwe-menu__submenu-item.has-children .pwe-menu__arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    transform: rotate(0deg);
    transition: 0.3s ease;
}
.pwe-menu__item.has-children:hover > a > .pwe-menu__arrow,
.pwe-menu__submenu-item.has-children:hover > a > .pwe-menu__arrow {
    transform: rotate(90deg);
}
.pwe-menu__submenu-item {
    padding: 0 18px;
    font-size: 12px;
    transition: 0.3s ease;
}
.pwe-menu__submenu-item a {
    color: white;
}
.pwe-menu__submenu-item:hover {
    padding: 0 18px;
    font-size: 12px;
    background-color: #ffffff14;
}
.pwe-menu__submenu-item.has-children {
    font-weight: 600;
}

/* Social icons */
.pwe-menu__social,
.pwe-menu__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.pwe-menu__social a i {
    padding: 0 10px;
    margin: 0;
    color: white;
}

.pwe-menu .pwe-menu__burger-checkbox,
.pwe-menu .pwe-menu__burger {
    display: none;
}

@media (max-width: 960px) {
    body.home .pwe-header-wrapper {
        padding-top: 60px !important;
    }
    body.home .pwe-menu {
        background-color: var(--accent-color);
    }
    .pwe-menu__container {
        flex-direction: column;
        position: fixed;
        z-index: 98;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 18px 0;
        width: 300px;
        height: 100%;
        background-color: var(--accent-color);
        opacity: .95;
        box-shadow: 0 0 20px rgba(0,0,0,.7);
        transform: translateX(-105%);
    }
    .pwe-menu.burger-menu .pwe-menu__container {
        transform: translateX(0);
    }
    .pwe-menu__container-mobile {
        width: auto;
    }
    /* Menu nav */
    .pwe-menu__nav {
        flex-direction: column;
        padding: 18px;
        overflow: scroll;
    }
    .pwe-menu__item {
        width: 100%;
    }
    .pwe-menu__item > a {
        font-size: 16px;
    }
    .pwe-menu__item.has-children:has(.pwe-menu__submenu.visible) {
        overflow: scroll;
    }
    .pwe-menu__item:has(.wpml-ls-flag) > a {
        margin-left: 0;
        margin-top: 18px;
    }
    .pwe-menu__item .wpml-ls-flag {
        width: 28px;
    }
    .pwe-menu__item.button {
        width: auto;
    }
    .pwe-menu__social {
        margin-top: 18px;
    }
    .pwe-menu__social a i {
        font-size: 24px;
    }
    .pwe-menu__item > .pwe-menu__submenu,
    .pwe-menu__submenu .pwe-menu__submenu {
        width: auto;
        top: unset;
        left: unset;
        position: relative;
        visibility: hidden;
        height: 0;
        opacity: 1;
        transform: unset;
        padding: 0;
        background-color: transparent;
        overflow: hidden;
    }
    .pwe-menu__submenu {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease, visibility 0s linear 0.3s;
    }
    .pwe-menu__submenu.visible {
        visibility: visible;
        transition: height 0.3s ease, visibility 0s linear 0s;
    }
    .pwe-menu__submenu-item {
        font-size: 16px;
    }
    .pwe-menu__submenu-item:hover {
        background-color: inherit;
    }
    .pwe-menu__submenu-item a {
        font-size: 16px;
    }


    /* Burger menu */
    .pwe-menu .pwe-menu__burger-checkbox,
    .pwe-menu .pwe-menu__burger {
        display: flex;
        width: 25px;
    }
    .pwe-menu .pwe-menu__burger-checkbox {
        position: absolute;
        top: 0;
        bottom: 0; 
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 101;
        opacity: 0;
        cursor: pointer;
    }
    .pwe-menu .pwe-menu__burger {
        position: relative;
        z-index: 100;
        flex-direction: column;
        justify-content: center;
    }
    .pwe-menu .pwe-menu__burger span {
        position: relative;
        height: 3px;
        width: 25px;
        background-color: white;
        display: block;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }
    .pwe-menu .pwe-menu__burger span::after, 
    .pwe-menu .pwe-menu__burger span::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        width: 25px;
        background-color: white;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    .pwe-menu .pwe-menu__burger span::before {
        top: -8px;
    }

    .pwe-menu .pwe-menu__burger span::after {
        bottom: -8px;
    }

    .pwe-menu.burger-menu .pwe-menu__burger span {
        background-color: transparent;
    }

    .pwe-menu.burger-menu .pwe-menu__burger span::before {
        background-color: #fff;
        transform: rotate(45deg);
        top: 0;
    }

    .pwe-menu.burger-menu .pwe-menu__burger span::after {
        background-color: #fff;
        transform: rotate(-45deg);
        bottom: 0;
    }

    /* Overlay */
    .pwe-menu .pwe-menu__overlay {
        position: fixed;
        z-index: 97;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(27, 32, 44, 0.7);
        visibility: hidden;
        opacity: 0;
        backdrop-filter: blur(6px);
        transition: 0.3s;
    }
    .pwe-menu.burger-menu .pwe-menu__overlay {
        visibility: visible;
        opacity: 1;
    }
}
@media (max-width: 450px) {
    .pwe-menu__wrapper {
        padding: 0 12px;
    }
    .pwe-menu__main-logo {
        max-width: 240px;
    }
    .pwe-menu__main-logo-ptak.hidden-mobile {
        display: none;
    }
}