.pwe-container-media-gallery {
    opacity: 0;
}
.pwe-media-gallery-image {
    position: relative;
    margin: 0;
    /* padding: 5px; */
}
.pwe-media-gallery-image img {
    display: block;
    width: 100%;
    height: auto;
}
html:not(.touch) .pwe-media-gallery-image {
    overflow: hidden;
}
.pwe-media-gallery-popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: 3000 !important;
    display: none;
    transition: 0.3s;
}
.pwe-media-gallery-popup img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    object-fit: contain;
}
.pwe-media-gallery-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 70px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 1;
    transition: ease .3s;
}
.pwe-media-gallery-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 70px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 1;
    transition: ease .3s;
}
.pwe-media-gallery-arrow:hover,
.pwe-media-gallery-close:hover {
    color: #cccccc;
}
.pwe-media-gallery-left-arrow {
    left: 20px;
}
.pwe-media-gallery-right-arrow {
    right: 20px;
}
@media (max-width: 768px) {
    .pwe-media-gallery-close {
        top: 0;
    }
}
.fade-out {
    animation: fadeOut 0.3s;
    opacity: 0;
}
.fade-in {
    animation: fadeIn 0.3s;
    opacity: 1;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}