.pwe-container-media-gallery .coverflow-gallery {
    width: 100%;
    position: relative;
}
.pwe-container-media-gallery .coverflow-gallery .swiper-slide {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
@media (min-width: 570px) {
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide {
        width: 300px;
        aspect-ratio: 5 / 3;
    }
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide:not(.swiper-slide-active, .swiper-slide-prev, .swiper-slide-next) {
        filter: blur(4px);
    }
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: color-mix(in srgb, var(--accent-color) 80%, black 20%);
        z-index: 10;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.4s ease;
        pointer-events: none;
    }
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next)::after {
        opacity: 1;
    }
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 570px) {
    .main-container .row-container .row-parent:has(.coverflow-gallery) {
        padding: 36px 0px !important;
    }
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide {
        width: 400px;
        aspect-ratio: 1 / 1;
        transform: scale(0.8) !important;
        z-index: 0;
    }
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover !important;
    }
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide-active {
        z-index: 2 !important;
        transform: scale(1) !important;
    }
    .coverflow-gallery .swiper-slide-next {
        z-index: 1 !important;
        transform: scale(0.9) !important;
    }
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide:not(.swiper-slide-active, .swiper-slide-prev, .swiper-slide-next) {
        filter: blur(4px);
    }
    .pwe-container-media-gallery .coverflow-gallery .swiper-slide:not(.swiper-slide-active, .swiper-slide-prev, .swiper-slide-next)::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: color-mix(in srgb, var(--accent-color) 80%, black 20%);
        z-index: 10;
        top: 0;
        left: 0;
    }
}