.pwe-news-summary__hr {
    margin: 36px 0;
}
.pwe-news-summary__btn {
    padding: 13px 31px;
    font-size: 14px;
    min-width: 168px;
    text-align: center;
    font-weight: 600;
    color: #ffffff !important;
    background-color: var(--accent-color);
    border: 2px solid;
    border-color: var(--accent-color);
    border-radius: 8px;
}
.pwe-news-summary__btn:hover {
    color: var(--accent-color) !important;
    background-color: transparent;
}
.pwe-news-summary__btn--black {
    padding: 13px 31px;
    font-size: 14px;
    min-width: 168px;
    text-align: center;
    font-weight: 600;
    color: #ffffff !important;
    background-color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 8px;
}
.pwe-news-summary__btn--black:hover {
    color: black !important;
    background-color: transparent;
}
.pwe-news-summary__header {
    width: 100%;
}
.pwe-news-summary__title {
    font-size: 32px !important;
}
.pwe-news-summary-stats .countup {
    text-shadow: 1px 1px 1px white;
}
.pwe-news-summary-stats__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;
}
.pwe-news-summary-stats__title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 26px !important;
    text-shadow: 0px 0px 2px white;
}
.pwe-news-summary-stats__subtitle {
    margin-top: 0;
    color: var(--accent-color);
}
.pwe-news-summary-stats__stats-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 18px 0;
}
.pwe-news-summary-stats__stats-diagram {
    width: 62%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
}
.pwe-news-summary-stats__stats-diagram-container {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}
.pwe-news-summary-stats__stats-diagram-years-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.pwe-news-summary-stats__stats-diagram-year {
    display: flex;
    align-items: center;
    gap: 8px;
}
.pwe-news-summary-stats__stats-diagram-year-box {
    width: 20px;
    aspect-ratio: 1 / 1;
    background: var(--accent-color);
}
.pwe-news-summary-stats__stats-diagram-year:first-of-type .pwe-news-summary-stats__stats-diagram-year-box {
    background: color-mix(in srgb, var(--accent-color), white 50%);
}
.pwe-news-summary-stats__stats-diagram-bars-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.pwe-news-summary-stats__stats-diagram-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pwe-news-summary-stats__stats-diagram-bars-wrapper {
    display: flex;
    gap: 18px;
    justify-content: center;
}
.pwe-news-summary-stats__stats-diagram-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    height: 150px;
}
.pwe-news-summary-stats__stats-diagram-bar-item {
    background: var(--accent-color);
    width: 42px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.pwe-news-summary-stats__stats-diagram-bar:first-of-type .pwe-news-summary-stats__stats-diagram-bar-item {
    background: color-mix(in srgb, var(--accent-color), white 50%);
}
.pwe-news-summary-stats__stats-diagram-bar-number {
    position: absolute;
    bottom: 100%;
    transform: translateY(0);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.pwe-news-summary-stats__stats-diagram-bar-number sup {
    top: 0;
}
.pwe-news-summary-stats__stats-diagram-bars-label {
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.pwe-news-summary-stats__stats-section span, .pwe-news-summary-stats__stats-section p {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.pwe-news-summary-stats__stats-diagram-countries-container {
    width: 18%;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.pwe-news-summary-stats__stats-diagram-countries {
    width: 140px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.pwe-news-summary-stats__stats-diagram-countries *{
    margin: 0;
}
.pwe-news-summary-stats__stats-diagram-countries h2 {
    min-width: unset;
}
.pwe-news-summary-stats__stats-diagram-countries h2 span {
    color: var(--accent-color);
    font-size: 40px;
    font-weight: 800;
}
.pwe-news-summary-stats__stats-number-container {
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.pwe-news-summary-stats__stats-number-container .pwe-news-summary-stats__stats-number-box {
    display: flex;
    align-items: center;
    gap: 24px;
}
.pwe-news-summary-stats__stats-number-box-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pwe-news-summary-stats__stats-number-container .pwe-news-summary-stats__stats-number-box h2 {
    min-width: 200px;
    text-align: right;
}
.pwe-news-summary-stats__stats-number-container .pwe-news-summary-stats__stats-number-box h2 span {
    font-size: 40px;
    font-weight: 800;
}
.pwe-news-summary-stats__stats-number-box-text span {
    color: var(--accent-color);
    font-weight: 800;
}
.pwe-news-summary-stats__stats-number-box-text p {
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
}
.pwe-news-summary-stats__stats-number-box *{
    margin: 0 !important;
}
.pwe-news-summary__iframe-title{
    text-align:justify;
}
@media(max-width:960px){
    
    .pwe-news-summary-stats__stats-section {
        align-items: center;
        gap: 36px;
        flex-wrap: wrap;
    }
    .pwe-news-summary-stats__stats-diagram {
        width: 50%;
        min-height: 450px;
        flex-direction: column-reverse;
        align-items: center;
        min-width: 360px;
    }
    .pwe-news-summary-stats__stats-diagram-container {
        width: 100%;
    }
    .pwe-news-summary-stats__stats-number-container {
        min-width: 350px;
    }
    .pwe-news-summary-stats__stats-number-container {
        min-width: 280px;
    }
    .pwe-news-summary-stats__stats-number-container .pwe-news-summary-stats__stats-number-box h2 {
        min-width: 160px;
        font-size: 30px;
    }
}
@media(max-width:760px){
    .pwe-news-summary__iframe-title{
    text-align:left;
    }
    .pwe-news-summary-stats__stats-section {
        flex-direction: column-reverse;
    }
    .pwe-news-summary-stats__stats-diagram {
        width: 100%;
    }
    .pwe-news-summary-stats__stats-diagram-bars-container {
        max-width: 500px;
        min-height: 240px;
    }
    .pwe-news-summary-stats__stats-number-container {
        width: 100%;
    }
    .pwe-news-summary-stats__stats-number-box:not(.pwe-news-summary-stats__stats-diagram-countries) h2 {
        width: 50%;
    }
}
@media(max-width:420px) {
    .pwe-news-summary-stats__title {
        font-size: 20px !important;
    }
    .pwe-news-summary-stats__stats-section {
        align-content: center;
        padding: 36px 0;
    }
    .pwe-news-summary-stats__stats-diagram {
        min-width: unset;
    }
    .pwe-news-summary-stats__stats-number-container .pwe-news-summary-stats__stats-number-box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .pwe-news-summary-stats__stats-number-box:not(.pwe-news-summary-stats__stats-diagram-countries) h2 {
        width: 100%;
        text-align: center;
    }
    .pwe-news-summary-stats__stats-number-box-text span {
        display: none;
    }
    .pwe-news-summary-stats__stats-diagram-bar-number, .pwe-news-summary-stats__stats-diagram-bars-label {
        font-size: 12px !important;
    }
    .pwe-news-summary-stats__stats-diagram-bar-item {
        width: 20px;
    }
}

.pwe-news-summary-stats__container-3d {
    position: absolute;
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    bottom: -50%;
    left: clamp(110%,82vw,200%);
    transform: translate(-50%, 0);
    z-index: 0;
}
.pwe-news-summary-stats__container-3d::before {
    content: "";
    background: linear-gradient(20deg, white 10%, transparent 70%);
    width: 100%;
    height: 100%;
    position: absolute;
}
.pwe-news-summary-stats__container-3d canvas {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1 / 1;
}
@media(max-width:960px){
    .pwe-news-summary-stats__container-3d {
        bottom: -25%;
    }
}
@media(max-width:960px){
    .pwe-news-summary-stats__container-3d {
        bottom: -25%;
    }
}
@media(max-width:760px){
    .pwe-news-summary-stats__container-3d {
        bottom: 5%;
    }
}
@media(max-width:600px){
    .pwe-news-summary-stats__container-3d {
        min-width: 500px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media(max-width:420px){
    .pwe-news-summary-stats__container-3d {
        bottom: 10%;
    }
}



.pwe-news-summary-stats__cards {
    display: flex;
    align-items: stretch;
    gap: 24px;
    margin-top: 24px;
}
.pwe-news-summary-stats__card {
    flex: 1 1 30%;
    padding: 24px;
    border-radius: 18px;
    background-color: #f7f7f7;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.pwe-news-summary-stats__card h5 {
    font-size: 16px;
    text-align: center;
    margin: 0;
}
.pwe-news-summary-stats__card p {
    text-align: center;
    margin: auto;
}



.pwe-news-summary__iframe {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.pwe-news-summary__iframe-container {
    display: flex;
    align-items: stretch;
    gap: 24px;
}
.pwe-news-summary__iframe-video {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.pwe-news-summary__iframe-container iframe {
    border-radius: 24px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    aspect-ratio: 16/9;
}
.pwe-news-summary__iframe-box {
    flex: .6;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    overflow: hidden;
}
.pwe-news-summary__iframe-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}
.pwe-news-summary__iframe-default img {
    max-width: 80px;
    cursor: pointer;
    transition: .3s 
ease;
}
.pwe-news-summary__iframe-default img:hover {
    transform: scale(1.1);
}
.pwe-news-summary__iframe-desc {
    flex: .4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pwe-news-summary__gallery-slide {
    aspect-ratio: 3/2;
    margin: 5px;
}
img.pwe-news-summary__gallery-img {
    object-fit: cover;
    object-position: center;
    height: 100%;
}



.pwe-news-summary__medal-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}
.pwe-news-summary__medal-container img {
    flex: .4;
    max-width: 320px !important;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0px 30px 60px -30px rgba(0,0,0,.45);
}
.pwe-news-summary__medal-desc {
    flex: .6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.pwe-news-summary__medal-desc p {
    text-align: center;
}



.pwe-news-summary__conf-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}
.pwe-news-summary__conf-title {
    margin: 0;
}
.pwe-news-summary__conf-container p {
    margin: 0;
}


.pwe-news-summary__next {
    display: flex;
    align-items: center;
    gap: 24px;
}
.pwe-news-summary__next-content {
    flex: .7;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.pwe-news-summary__next img {
    flex: .3;
    max-width: 360px;
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}
.pwe-news-summary__next-btn-container {
    display: flex;
    justify-content: space-around;
    gap: 18px;
    padding: 18px 18px;
}


.pwe-news-summary__linkedin {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.pwe-news-summary__linkedin-content {
    display: flex;
    align-items: center;
    gap: 24px;
}
.pwe-news-summary__linkedin-content img {
    max-width: 260px;
}
.pwe-news-summary__linkedin-content-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.pwe-news-summary__linkedin-title {
    margin: 0;
}
.pwe-news-summary__linkedin-subtitle {
    margin: 0;
    font-size: 18px !important;
}
.pwe-news-summary__linkedin-footer {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}


@media(max-width:600px) {
    .pwe-news-summary__hr {
        margin: 24px 0;
    }
    .pwe-news-summary__btn, .pwe-news-summary__btn--black {
        padding: 9px 18px;
        margin: 0 auto;
    }
    .pwe-news-summary__title {
        font-size: 22px !important;
    }
    .pwe-news-summary-stats__cards {
        flex-direction: column;
    }
    .pwe-news-summary__iframe-container {
        flex-direction: column;
    }
    .pwe-news-summary__medal-container {
        flex-direction: column;
    }
    .pwe-news-summary__next {
        flex-direction: column-reverse;
    }
    .pwe-news-summary__next-btn-container { 
        flex-direction: column;
    }
    .pwe-news-summary__linkedin-content {
        flex-direction: column;
    }
    .pwe-news-summary__linkedin-footer {
        flex-direction: column;
    }
}